p {
}

a {
color: red;
}


.pasukimas {
    display: inline-block;
    
    text-align: center;
    margin-left: 75%;
    margin-right: 10%;
    margin-top: 0vh;
    font-size: 40px;
    transform: rotate(10deg);
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    
    }